<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Om appen</h1>
        <div>
            <p>Denna app är framtagen i samband med ett examensarbete vid
                <strong>Högskolan i Skövde</strong>.</p>
        </div>
        <div class="list card">
            <div class="item item-divider">Prestanda</div>
            <div class="item item-body">
                <div>
                    <p>
                        Mäter etc
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>